* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.background {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background .review-container {
    background-color: white;
    width: 500px;
    height: 300px;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.background .underline{
    width:50px;
    height: 4px;
    background-color: #5cafd3;
    border-radius: 2px;
    margin: 1rem;
}