* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border: 10px black;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: monospace, monospace;
  font-size: 1.5rem;
  font-weight: bolder;
  position: relative;
  z-index: 2;
}

.navbar .simple-button:hover,
.hex-button:hover {
  cursor: pointer;
}

.collor-flipper-title {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-buttons p {
  padding: 0px 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 60px);
  background-color: #eee8aa;
  position: relative;
  z-index: 1;
}

.text-container {
  color: aliceblue;
  font-weight: bolder;
  font-family: monospace, monospace;
  font-size: 35px;
  background-color: rgb(28, 26, 29);
  height: 80px;
  width: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px 15px;
  align-items: center;
}

.button-container {
  font-family: monospace, monospace;
  font-weight: bolder;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 3rem;
  border: 2px solid rgb(28, 26, 29);
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
  user-select: none;
}

.button-container:hover {
  background-color: #f2f2f2b9;
  cursor: pointer;
}
